body{
    background-color: #87CEEB;
}
h1, h2, h3{
    font-family: tahoma;
}
section{
    background-color: #2a85c2;
    font-family: tahoma, Times, serif;
    padding: 10px;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 14px;
    text-align: center;
    padding: 0px;
}

img, video{
    max-width: 100%;
}

nav{
    background-color: #000000;
    height: 35px;
    font-family: tahoma;
    font-weight: bold;
    font-size: 14px;
}

nav ul{
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

nav li{
    display: inline;
    padding: 10px;
    margin: 0px;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}

nav a:hover{
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (min-width: 960px){
    nav{
        height: auto;
    }
}


